<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wangzhi.test.mock.dao.UserMapper">
    <resultMap id="BaseResultMap" type="com.wangzhi.test.mock.model.User">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="userId" jdbcType="INTEGER" property="userId"/>
        <result column="userName" jdbcType="VARCHAR" property="userName"/>
        <result column="userPass" jdbcType="VARCHAR" property="userPass"/>
        <result column="userNick" jdbcType="VARCHAR" property="userNick"/>
        <result column="registerTime" jdbcType="TIMESTAMP" property="registerTime"/>
    </resultMap>
</mapper>